.chat-send-item {
  display: flex;
  align-self: flex-end;
  width: auto;
  position: relative;
  margin-right: 20px;

  &-content {
    display: flex;
    padding: 20px 50px 20px 20px;
    height: auto;
    word-wrap: break-word;
    color: #a9a9a9;
    font-weight: bold;
    margin: 30px;
    border-radius: 3px;
    background-color: #fff;
  }

  &-img {
    display: flex;
    background-color: #fff;
    padding: 20px 50px 20px 20px;
    width: 200px;
    height: 00px;
    height: auto;
    margin: 30px;
  }

  &-file {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px 10px;
    width: 200px;
    height: 00px;
    height: auto;
    margin: 30px;

    span {
      font-size: 1.2rem;
    }
  }

  &-profile-image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    margin-bottom: 10px;
  }
}
