.chat {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  width: 500px;

  &-header {
    display: flex;
    position: relative;
    background: #3e3f4e;

    height: 100px;
    line-height: 100px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;

    &-btn {
      color: #9e9fa6;
      cursor: pointer;
      padding-left: 30px;
    }

    &-name {
      color: #c6c6cc;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
    }

    &-setting {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 30px;
      cursor: pointer;
    }
  }

  &-contents {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    padding: 20px 0px;
    overflow-y: scroll;
  }

  &-footer {
    display: flex;
    height: 80px;
    align-items: center;

    img {
      padding-left: 20px;
      cursor: pointer;
    }
    input {
      outline: none;
      border: 0;
      font-size: 1.2rem;
      width: 60%;
      padding: 30px;
      &::placeholder {
        color: #8e8e8e;
      }
    }

    .file-input {
      display: none;
    }

    button {
      background-color: #be29ec;
      color: #fff;
      border: none;
      outline: none;
      font-size: 1.2rem;
      padding: 10px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
    }
  }
}
