.chatitem {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;

  &-image {
    width: 150px;
    height: 150px;
  }

  &-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 30px;

    &-name {
      font-size: 1.35rem;
      font-weight: bold;
    }

    &-content {
      width: 300px;
      color: #808080;
      margin-top: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
